@font-face {
    src: url("fonts/CursedTimer.ttf");
    font-family: cursedTimer;
}

body {
    margin: 0;
    padding: 0;
    font-family: cursedTimer;
    /* height: 100vh; */
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h3 {
    text-align: center;
    margin: 30% 0 0 0;
    color: #EEEEEE;
    font-size: 40px;
    font-weight: 700;
}

.container {
    margin-top: 3em;
    border-radius: 2em;
    display: flex;
    padding: 10em;
    max-width: 40em;
    max-height: 60em;
    background: #1B244A;
    color: #fff;
}
.board {
   align-self: flex-start;
}

.board-container {
   margin: 0.5em;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    margin: 0.1em;
    background: #080001;
    width: 155px;
    height: 120px;
    border: none;
    color: #F94F6D;
    font-size: 90px;
    border-radius: 8px;
}

.box-container {
   margin-top: 25px;
}

.box {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: #9AABD8 solid 1px;
    padding: 10px;
    width: 40px;
    text-align: center;
    color: #9AABD8;
    background: #1B244A;
}

.reset-btn {
    position: relative;
    top: 21em;
    right: 15em;
    padding: 10px 20px;
    text-align: center;
    background: inherit;
    color: #EEEEEE;
    max-width: 80px;
    max-height: 40px;
}

.clock {
    position: relative;
    left: 12em;
    max-width: 150px;
    max-height: 25px;
    color: #9AABD8;
    font-size: 20px;
    margin: 0;
}


